<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {% endblock %}

        <title>Web Service - Home</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Web Service</a></li>
            </div>
        </nav>
        <!-- Your page content -->
        <div class="container">
          <h1>Welcome to HealthJoy Web Service</h1>
          
          <div class="alert alert-success" role="alert">
            Successfully forked <b>{{repo.full_name}}</b> for user: <b>{{user.login}}</b> !
          </div>
          <a class="btn btn-primary" href="/" role="button">Back to Main page</a>

        </div>
           
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>